.user-profile {
  border: 1px solid black;
}

.profile-info {
  display: block;
  margin: 0 auto;
}

.panel-footer img {
  max-width: 200px;
}

.text-bold{
  font-weight: bold;
}

.text-underline{
  text-decoration: underline;
  font-size: 18px;
}

.float-right{
  float: right;
}