<form #loginForm="ngForm" (ngSubmit)="loginHandler(loginForm.value)">
  <div>
    <label>Email</label>
    <input #emailInput="ngModel" [ngModel]="email" name="email" type="text" required email>
    <div *ngIf="emailInput.invalid && emailInput.touched">Please enter valid email!</div>
  </div>
  <div>
    <div #passwordsGroup="ngModelGroup" ngModelGroup="passwords" appPasswordMatch>
      <label>Password</label>
      <input #passwordInput="ngModel" [ngModel]="password" name="password" type="password" required minlength="6">
      {{passwordInput.errors.minlength | json}}
      <div *ngIf="passwordInput.errors?.required && passwordInput.touched">Please enter a password</div>
      <div *ngIf="passwordInput.errors?.minlength?.actualLength !== 5 && passwordInput.touched">Password should have at
        least 6 chars</div>
      <input [ngModel]="password" name="repeatPassword" type="password">
      <div *ngIf="passwordsGroup?.errors?.passwordMatch">Match false</div>
    </div>
  </div>
  <button [disabled]="loginForm.invalid">LOGIN</button>
</form>

{{loginForm.value | json}}