.ng-touched.ng-invalid, 
.password-match-touched.password-match-invalid {
  border-color: red;
}

.ng-valid {
  border-color: green;
}

p.error-message {
  color: red;
  font-style: italic;
}


// .ng-invalid.ng-touched {
//   input.ng-touched {
//     border-color: red;
//   }
// }
